[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
local = "sh -c 'mh down && mh up mongodb && python3 -m server'"
test = "echo 'Not Yet Implemented'"
stepci = "echo 'Not Yet Implemented'"
container = "sh -c 'mh down && docker build --tag ghcr.io/agile-learning-institute/mentorhub-curriculum-api:latest . && mh up curriculum-api'"

[packages]
flask = "*"
pymongo = "*"
prometheus-flask-exporter = "*"

[dev-packages]

[requires]
python_version = "3.12"
